<mat-toolbar class="custom-mat-toolbar custom-mat-toolbar-heading form-details-toolbar d-flex">
    <span class="custom-title">Document No -{{ documentID }}    </span>
           <div class="form-detail-actions ">
        <button class="view-btn white-bg action-btn margin-right-5 primary-text" aria-label="view history"
            mat-stroked-button color="primary" (click)="fetchHistory()">
            <mat-icon>history</mat-icon>
            <span class="label">View History</span>
        </button>
        <!-- <button class="email-btn white-bg action-btn primary-text" aria-label="email content" mat-stroked-button color="primary" (click)="openEmailContent()">
            <mat-icon>email</mat-icon>
            <span class="label">Email Content</span>
        </button> -->
        <button class="download-btn white-bg action-btn margin-right-5 primary-text"
            aria-label="download product report" mat-stroked-button color="primary" (click)="downloadProductReport()">
            <mat-icon>file_download</mat-icon>
            <span class="label">Download Data</span>
        </button>

    </div>
</mat-toolbar>
<section class="card-section pdf-form">
    <mat-card class="custom-mat-card mat-elevation-z6">
        <mat-card-header class="custom-mat-card-header">
            <mat-card-title>Document Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="docDetails" class="row">
                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6">
                        <div class="pdf-container">
                            <div class="pdf-inner-container">
                                <pdf-viewer [src]="pdfSrc" [original-size]="false"></pdf-viewer>
                                <!-- <img *ngIf="doc.fileType =='img'" [src]="doc.fileURL"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6" style="height: 68vh;
                    overflow-y: scroll;">
                        <div *ngFor="let data of details">

                            <div class="section1">
                                <span class="section-title">Address Details</span>
                                <div class="tabs mt-2">
                                    <span>Vendor Name</span>
                                    <div style="margin-left: 10em;">
                                        <input type="text" matInput formControlName="Vendor_Name"
                                            placeholder="Vendor Name">
                                    </div>
                                    <mark
                                        [ngClass]="{'green':data.Vendor_Name.Confidence*100>75,'red':data.Vendor_Name.Confidence*100<75}">{{data.Vendor_Name.Confidence*100
                                        | number : '1.2-2'}}%</mark>

                                </div>
                                <div class="d-flex tabs mt-2">
                                    <span>Vendor Address</span>
                                    <div style="margin-left: 9em;">
                                        <input type="text" matInput formControlName="Vendor_Address"
                                        placeholder="Vendor Address">
                                        <mark
                                            [ngClass]="{'green':data.Vendor_Address.Confidence*100>75,'red':data.Vendor_Address.Confidence*100<75}">{{data.Vendor_Address.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>

                                </div>
                                <div class="d-flex tabs mt-2">
                                    <span>Billing Address Recepient</span>
                                    <div style="margin-left: 5em;">
                                        <input type="text" matInput formControlName="Billing_address_Recipient"
                                        placeholder="Billing Address Recipient">
                                        <mark
                                            [ngClass]="{'green':data.Billing_address_Recipient.Confidence*100>75,'red':data.Billing_address_Recipient.Confidence*100<75}">{{data.Billing_address_Recipient.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>

                                </div>
                                <div class="d-flex tabs mt-2">
                                    <span>Billing Address</span>
                                    <div style="margin-left: 9.5em;">
                                        <input type="text" matInput formControlName="Billing_Address"
                                        placeholder="Billing Address">
                                        <mark
                                            [ngClass]="{'green':data.Billing_Address.Confidence*100>75,'red':data.Billing_Address.Confidence*100<75}">{{data.Billing_Address.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>

                                </div>
                            </div>
                            <div class="section1 mt-3">
                                <span class="section-title">Invoice Details</span>
                                <div class="d-flex tabs mt-2">
                                    <span>Invoice Id</span>
                                    <div style="margin-left: 11em;">
                                        <input type="text" matInput formControlName="Invoice_Id"
                                        placeholder="Invoice Id">
                                        <mark
                                            [ngClass]="{'green':data.Invoice_Id.Confidence*100>75,'red':data.Invoice_Id.Confidence*100<75}">{{data.Invoice_Id.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>

                                </div>

                                <div class="d-flex tabs mt-2">
                                    <span>Customer Name</span>
                                    <div style="margin-left: 8em;">
                                        <input type="text" matInput formControlName="Customer_Name"
                                        placeholder="Customer Name">
                                        <mark
                                            [ngClass]="{'green':data.Customer_Name.Confidence*100>75,'red':data.Customer_Name.Confidence*100<75}">{{data.Customer_Name.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>

                                </div>
                                <div class="d-flex tabs mt-2">
                                    <span>Invoice Date</span>
                                    <div style="margin-left: 10em;">
                                        <input type="text" matInput formControlName="Invoice_Date"
                                        placeholder="Invoice Date">
                                        <mark
                                            [ngClass]="{'green':data.Invoice_Date.Confidence*100>75,'red':data.Invoice_Date.Confidence*100<75}">{{data.Invoice_Date.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>

                                </div>

                            </div>
                            <div class="section1 mt-3">
                                <span class="section-title">Invoice Items</span>
                                <form [formGroup]="itemsTable">
                                <table class="mat-table mat-elevation-z8 custom-table">
                                    <tr class="mat-header-row">
                                        <th class="mat-header-cell">Description</th>
                                        <th class="mat-header-cell">Quantity</th>
                                        <th class="mat-header-cell">UnitPrice</th>
                                        <th class="mat-header-cell">Amount</th>
                                    </tr>
                                    <tr class="mat-row" *ngFor="let item of items">
                                        <td class="mat-cell"> 
                                            <input class="input-width" type="text" matInput formControlName="Description"
                                            placeholder="Description"> 
                                            <mark
                                                [ngClass]="{'green':item.Description.Confidence*100>75,'red':item.Description.Confidence*100<75}">{{item.Description.Confidence*100
                                                | number : '1.2-2'}}%</mark></td>

                                        <td class="mat-cell">
                                            <input class="input-width" type="text" matInput formControlName="Quantity"
                                            placeholder="Quantity">
                                            <mark
                                                [ngClass]="{'green':item.Quantity.Confidence*100>75,'red':item.Quantity.Confidence*100<75}">{{item.Quantity.Confidence*100
                                                | number : '1.2-2'}}%</mark>
                                        </td>
                                        <td class="mat-cell">
                                            <input class="input-width" type="text" matInput formControlName="UnitPrice"
                                            placeholder="UnitPrice">
                                            <mark
                                                [ngClass]="{'green':item.UnitPrice.Confidence*100>75,'red':item.UnitPrice.Confidence*100<75}">{{item.UnitPrice.Confidence*100
                                                | number : '1.2-2'}}%</mark>
                                        </td>
                                        <td class="mat-cell">
                                            <input class="input-width" type="text" matInput formControlName="Amount"
                                            placeholder="Amount">
                                            <mark
                                                [ngClass]="{'green':item.Amount.Confidence*100>75,'red':item.Amount.Confidence*100<75}">{{item.Amount.Confidence*100
                                                | number : '1.2-2'}}%</mark>
                                        </td>
                                    </tr>
                             
                                </table>
                            </form>

                            </div>
                            <div class="section1 mt-3">
                                <span class="section-title">Billing Details</span>
                                <div class="d-flex tabs mt-2">
                                    <span>Subtotal</span>
                                    <div style="margin-left: 11em;">
                                        <input type="text" matInput formControlName="Subtotal"
                                        placeholder="Sub total">
                                        <mark
                                            [ngClass]="{'green':data.Subtotal.Confidence*100>75,'red':data.Subtotal.Confidence*100<75}">{{data.Subtotal.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>
                                </div>
                                <div class="d-flex tabs mt-2">
                                    <span>Total Tax</span>
                                    <div style="margin-left: 11em;">
                                        <input type="text" matInput formControlName="Total_Tax"
                                        placeholder="Total Tax">
                                        <mark
                                            [ngClass]="{'green':data.Total_Tax.Confidence*100>75,'red':data.Total_Tax.Confidence*100<75}">{{data.Total_Tax.Confidence*100
                                            | number : '1.2-2'}}%</mark>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
          
        </mat-card-content>
        <mat-card-actions>
            <button class="right-5 primary-text" type="button" mat-stroked-button color="primary"
                (click)="backToDashboard()">Back</button>
            <button class="draft-btn right-5" type="button" mat-stroked-button color="primary"
                (click)="draftSave()">Save as draft</button>
            <button class="warn right-5" type="button" mat-raised-button mat-focused color="warning"
                (click)="updateHoldStatus(1)">On Hold</button>
            <button class="reje right-5" type="button" mat-raised-button mat-focused color="warn"
                (click)="updateStatus(3)">Reject</button>
            <button class="appr right-5" type="submit" mat-raised-button mat-focused color="success"
                (click)="updateStatus(2)">Approve</button>
        </mat-card-actions>
    </mat-card>
<!--     
  <form [formGroup]="dynamicForm" style="background-color: white;" >
    <ng-container *ngFor="let field of dynamicFields" style="color: rgb(0, 0, 0);">
        {{field.label}}
        <input type="field.type" formControlName="{{field.label}}"/>
      <ng-container *ngFor="let validation of field.validations">
        <span *ngIf="dynamicForm.controls.Username.hasError(validation.validator)">
            <span >error</span>
          <p *ngIf="dynamicForm.controls['{{field.label}}']?.hasError(validation.validator).validation.name">
            {{validation.message}}
          </p>
        </span>
    </ng-container>
    <br>
</ng-container>
  <br>
  <button type="submit" [disabled]="!dynamicForm.valid" (click)="getData()"> Submit</button>
</form> -->
</section>
   

<!-- // for (var key in items) {
    //     this.APIItemFields.push(
    //       {
    //         type: "input",
    //         name: key,
    //         label: key,
    //         value: data[key]['Label'],
    //         required: true,
    //     })
    //     console.log('key,' , key)
    // } -->