@import '../../color-var.scss';
@import '../../styles';
.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

::ng-deep {
    .mat-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem !important;
    }
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-right: 15px !important;
        padding-left: 15px !important;
        padding-top: 0px !important;
    }
    .row {
        margin-top: 0px !important;
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
    .mat-expansion-panel {
        border-radius: 0px !important;
        box-shadow: none !important;
        border-bottom: 1px solid $netrual;
    }
    .mat-accordion {
        height: 50vh;
        overflow: auto;
        display: inline-block;
        border: 1px solid rgb(0 0 0 / 12%);
    }
    .information {
        .mat-radio-group {
            margin-bottom: 0px;
            .mat-radio-button {
                margin-bottom: 1rem;
            }
        }
    }
    .tab-section {
        .row {
            margin-bottom: 1rem;
            label {
                margin-bottom: .50rem;
            }
        }
    }
    .mat-expansion-panel {
        .mat-expansion-panel-header {
            .mat-content {
                .mat-panel-title {
                    .mat-icon {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    .gas-meter {
        .mat-checkbox-label {
            img {
                width: 100%;
                height: 130px;
                margin-bottom: .50rem;
            }
            .mat-form-field-infix {
                width: 100%;
            }
            h5 {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .mat-checkbox-inner-container {
            top: 50%;
            right: 1rem;
            position: absolute;
        }
    }
    .work-required {
        .mat-checkbox-label {
            strong {
                color: $primary;
            }
        }
    }
    .mat-checkbox-label {
        white-space: normal;
    }
    .example-radio-group {
        display: flex;
        flex-direction: row;
    }
    .pdf-container {
        position: relative;
        border: 1px solid $netrual;
        height: 68vh;
        overflow-x: auto;
    }
    pdf-viewer {
        display: block;
    }
    .ng2-pdf-viewer-container {
        .canvasWrapper,
        .page,
        canvas {
            width: 100% !important;
        }
    }
    .pdfViewer .page canvas {
        width: 100% !important;
        height: 100%;
    }
}

.appr {
    background-color: green;
    color: white;
}

.reje {
    background-color: red;
    color: white;
}

.warn {
    background-color: orange;
    color: white;
}

// LIGHTGALLERY
.cont {
    text-align: center;
}

.page-head {
    padding: 60px 0;
    text-align: center;
}

.page-head .lead {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 0;
}

#lightgallery {
    display: flex;
    flex-flow: wrap;
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
    &>li {
        height: auto;
        a {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            display: block;
            overflow: hidden;
            position: relative;
            padding: .50rem;
            &:hover {
                &>img {
                    transform: scale3d(1.1, 1.1, 1.1);
                }
            }
            &>img {
                transition: transform 0.15s ease 0s;
                transform: scale3d(1, 1, 1);
                height: 150px;
                width: 100%;
            }
        }
    }
}

#lightgallery>li a:hover .demo-gallery-poster>img {
    opacity: 1;
}

#lightgallery>li a .demo-gallery-poster {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

#lightgallery>li a .demo-gallery-poster>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.3s ease 0s;
}

.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}

.demo-gallery.dark>ul>li a {
    border: 3px solid #04070a;
}

.form-details-toolbar {
    justify-content: space-between;
    .form-detail-actions {
        button {
            margin: 5px;
        }
    }
}

@media (max-width:767px) {
    .mat-card-actions {
        flex-flow: wrap;
        justify-content: flex-start !important;
        button {
            width: 46%;
            margin: 5px !important;
        }
    }
    .form-details-toolbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .form-detail-actions {
            justify-content: space-between;
            width: 100%;
            display: flex;
            margin: 8px auto;
            .download-btn,
            .email-btn {
                min-width: auto;
                .label {
                    display: none;
                }
            }
            button {
                display: flex;
                align-items: center;
                .mat-icon {
                    margin-right: 0px;
                }
            }
        }
    }
}

.approved-form {
    font-weight: 600;
    font-size: 16px;
    color: green;
    margin-bottom: 10px;
}

.rejected-form {
    font-weight: 600;
    font-size: 16px;
    color: green;
    margin-bottom: 10px;
}

.action-btn {
    font-size: 15px;
    background-color: white;
}

.form-header-btn {
    margin-left: auto;
    margin-right: 10px;
}

.margin-right-5 {
    margin-right: 5px;
}

.right-predict {
    color: green;
    font-weight: 600;
    font-size: 16px;
}

.wrong-predict {
    color: red;
    font-weight: 600;
    font-size: 15px;
}

.draft-btn {
    background-color: cadetblue;
    color: white !important;
}

// .attached-btn{
//     border-radius: 50%;
//     color: white !important;
// }
.gallery-pdf {
    width: 100%;
    height: 150px;
    position: relative;
}

.pdf-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.demo-gallery-poster {
    cursor: pointer;
}


.example-spacer {
    flex: 1 1 auto;
}

.card-table {
    .mat-toolbar {
        background-color: $dark-primary;
        .mat-stroked-button:not(.mat-button-disabled) {
            border-color: rgb(255 255 255 / 12%);
        }
    }
}

.green {
    background-color: #b0e0a1;
    padding: 0.2em;
    font-size: 0.7rem;
    margin-left: 0.8rem;
  }
  
  .red {
    background-color: #ff9dae;
    padding: 0.2em;
    font-size: 0.7rem;
    margin-left: 0.8rem;
  }
  
.tabs{
    border-radius: 7px;
    display: flex;
    align-items: baseline;
    justify-content: start;
    background: white;
    padding: 0.5rem;
    padding-left: 2em;
}

.section1{
    padding: 1em;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.section-title{
    font-weight: 600;
    // letter-spacing: 1px;
    color: $primary;
}

.custom-table{
    width: -webkit-fill-available;
    background: white;
    margin-top: 0.5em;
    border-radius: 10px;

}

input{
    padding: 0.5em;
    border-radius: 10px;;
    border-color: inherit;
    outline-color: rgb(163, 163, 163);
  -webkit-box-shadow: none;
  box-shadow: none;
    width: 20em;
}

.input-width{
    width:5em !important;
}

.custom-mat-card .mat-card-content{
    padding-bottom: 0px !important;
}