<div class="page-component">
    <mat-toolbar class="custom-mat-toolbar-heading">
        <span class="custom-title">Dashboard</span>
        <span class="example-spacer"></span>
        <small class="d-flex align-items-center timer">
            <mat-icon>today</mat-icon>
            Feb 25, 2022
        </small>
    </mat-toolbar>
    <section class="cards-sections">
        <mat-card class="example-card p-0 mat-elevation-z6 custom-mat-card-table custom-theme-table">
            <mat-toolbar class="justify-content-end align-items-center px-3 table-actions">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="table-action-btn" color="primary">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="exportToSheet()">
                        <mat-icon>file_download_black</mat-icon>
                        <span>Extract Data</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>add</mat-icon>
                        <span>Add New File</span>
                    </button>
                    <button mat-menu-item data-toggle="modal" data-target="#exampleModalCenter" (click)="initialSelect()">
                        <mat-icon>filter_alt</mat-icon>
                        <span>Advance Filter</span>
                    </button>
                </mat-menu>
                <div class="table-actions-panel">
                    <button mat-stroked-button color="primary" class="custom-btn primary-btn" aria-label="Example icon-button with share icon" (click)="getDashBoardData()">
                        <mat-icon>refresh</mat-icon>
                        <span>Refresh</span>
                    </button>
                    <button mat-stroked-button color="primary" class="custom-btn primary-btn" class="custom-btn primary-btn" aria-label="Example icon-button with share icon" (click)="getAllDashboardForms()">
                        <mat-icon>file_download_black</mat-icon>
                        <span>Extract Data</span>
                    </button>
                    <button mat-stroked-button color="primary" class="custom-btn primary-btn" aria-label="Example icon-button with share icon" (click)="uploadNewFile()">
                        <mat-icon>add</mat-icon>
                        <span>Add New File</span>
                    </button>
                    <button mat-flat-button class="custom-btn primary-btn" color="primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="initialSelect()">
                        <mat-icon>filter_alt</mat-icon>
                        <span>Advance Filter</span>
                    </button>
                    <button *ngIf="isAdminOrManager" mat-flat-button class="custom-btn primary-btn" [disabled]=" this.selection.selected.length == 0" color="primary" (click)="assignTask(this.selection.selected)">
                        <mat-icon>edit</mat-icon>
                        <span>Assign Task</span>
                    </button>
                    <button mat-flat-button class="custom-btn primary-btn" [disabled]=" this.selection.selected.length == 0" color="primary" data-toggle="modal" data-target="#archiveModalCenter">
                        <mat-icon>archive</mat-icon>
                        <span>Archive</span>
                    </button>
                </div>
            </mat-toolbar>
            <div class="custom-mat-table mat-custom-table">
                <table mat-table [dataSource]="dataSource" class="table m-0">
        
                    <ng-container matColumnDef="InvoiceId">
                        <th mat-header-cell *matHeaderCellDef> Document No. </th>
                        <td mat-cell *matCellDef="let element" >
                            <a href="javascript:void(0)" class="d-flex align-items-center text-decoration-none">
                                <mat-icon class="mr-1">info</mat-icon> {{element.InvoiceId.Label}}
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="VendorName">
                        <th mat-header-cell *matHeaderCellDef> Vendor Name </th>
                        <td mat-cell *matCellDef="let element" >
 
                            <span>  {{element.VendorName.Label}}</span>
                            <!-- <span>  {{element.VendorName.Confidence}}</span> -->
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ApplicantEmail">
                        <th mat-header-cell *matHeaderCellDef> Applicant Email </th>
                        <td mat-cell *matCellDef="let element" >
                            <span>  {{element.ApplicantEmail.Label}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="InvoiceDate">
                        <th mat-header-cell *matHeaderCellDef> Invoice Date </th>
                        <td mat-cell *matCellDef="let element" >
                            <span>  {{element.InvoiceDate.Label  | date:'mediumDate'}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element" >
                           <span>  {{element.Status.Label}}</span>
                       
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay;"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
                <div class="no-rec-found" *ngIf="noRecordsFound">No records found</div>
                <!-- <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator> -->

                <div class="col-xl-12">
                    <app-paginator [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()" (firstPageEvent)="getFirstPage()" (lastPageEvent)="getLastPage()" (pageSizeEvent)="getPageInNewSize($event)">
                    </app-paginator>
                </div>
            </div>
        </mat-card>
    </section>
    <!-- advanced filter Modal -->
    <div class="modal fade bd-example-modal-lg custom-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <mat-tab-group dynamicHeight>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon mr-1">filter_alt</mat-icon>
                                Filter
                            </ng-template>
                            <div class="container-fluid">
                                <form [formGroup]="advancedSearchForm" class="row">
                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 col-lg-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>File No</mat-label>
                                            <input matInput placeholder="Enter File No"  type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 col-lg-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Applicant Name</mat-label>
                                            <input matInput placeholder="Enter requester name" formControlName='advRequesterName' type="text">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 col-lg-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Received date</mat-label>
                                            <mat-date-range-input [rangePicker]="bookingdate">
                                                <input matStartDate formControlName='advStartDate' placeholder="Start date">
                                                <input matEndDate formControlName='advEndDate' placeholder="End date">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="bookingdate">
                                            </mat-datepicker-toggle>
                                            <mat-date-range-picker #bookingdate></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 col-lg-6">
                                        <ng-multiselect-dropdown formControlName="advStatus" [placeholder]="'Application status'" [settings]="dropdownSettings" [data]="statusType">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 col-lg-6 margin-15">
                                        <mat-form-field appearance="outline">
                                            <mat-select placeholder="Assignee" formControlName="advAssignedTo">
                                                <mat-option [value]="agentList.userId" *ngFor="let agentList of agents">
                                                    {{agentList.fullName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </form>

                            </div>
                            <div class="adv-btn">
                                <button type="button" class="reset-btn primary-text" mat-button color="primary" (click)="resetAdvanceFilterForm()">Reset</button>
                                <button type="button" mat-raised-button color="primary" data-dismiss="modal" (click)="getDashBoardData()">Search</button>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="material-icons-outlined mr-1">edit</mat-icon>
                                Edit Table
                            </ng-template>
                            <mat-form-field appearance="outline" class="custom-mat-form-field-dropdown">
                                <mat-label>Select Column</mat-label>
                                <mat-select #select [formControl]="columnFilterControl" multiple>
                                    <mat-select-trigger>
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let topping of columnFilterControl.value" [removable]="true" (removed)="onColumnRemoved(topping)">
                                                <!-- {{ topping }} -->
                                                <span *ngIf="topping == 'applicantEmail'">Applicant Email</span>
                                                <span *ngIf="topping == 'requesterName'">Applicant Name</span>
                                                <span *ngIf="topping == 'phoneNo'">Phone Number</span>
                                                <span *ngIf="topping == 'submitDate'">Received Date</span>
                                                <span *ngIf="topping == 'duration'">Day Count</span>
                                                <span *ngIf="topping == 'fileSource'">File Source</span>
                                                <span *ngIf="topping == 'updatedBy'">Last Updated By</span>
                                                <span *ngIf="topping == 'assignedTo'">Assignee</span>
                                                <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip>

                                        </mat-chip-list>
                                    </mat-select-trigger>
                                    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()" class="custom-mat-checkbox all-check">Select All
                                    </mat-checkbox>
                                    <!-- <mat-option *ngIf="data != 'status' && data != 'fileNo'" (click)="optionClick()" *ngFor="let data of columnsOption"
                                        [value]="data">
                                        {{data}}
                                    </mat-option> -->
                                    <ng-container *ngFor="let data of columnsOption">
                                        <!-- <mat-option *ngIf="data != 'status' && data != 'fileNo'" (click)="optionClick()"  [value]="data">{{data}}
                                        </mat-option> -->


                                        <!-- <mat-option *ngIf="data == 'select'" (click)="optionClick()" [value]="data">
                                            Select
                                        </mat-option> -->
                                        <mat-option *ngIf="data == 'applicantEmail'" (click)="optionClick()" [value]="data">Applicant Email
                                        </mat-option>
                                        <mat-option *ngIf="data == 'requesterName'" (click)="optionClick()" [value]="data">Applicant Name
                                        </mat-option>
                                        <mat-option *ngIf="data == 'phoneNo'" (click)="optionClick()" [value]="data">
                                            Phone Number
                                        </mat-option>
                                        <mat-option *ngIf="data == 'submitDate'" (click)="optionClick()" [value]="data">
                                            Received Date
                                        </mat-option>
                                        <mat-option *ngIf="data == 'duration'" (click)="optionClick()" [value]="data">
                                            Day Count
                                        </mat-option>
                                        <mat-option *ngIf="data == 'fileSource'" (click)="optionClick()" [value]="data">
                                            File Source
                                        </mat-option>
                                        <mat-option *ngIf="data == 'updatedBy'" (click)="optionClick()" [value]="data">
                                            Last Updated By
                                        </mat-option>
                                        <mat-option *ngIf="data == 'assignedTo'" (click)="optionClick()" [value]="data">
                                            Assignee
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
    <!-- archive Modal -->
    <div class="modal fade bd-example-modal-lg custom-modal" id="archiveModalCenter" tabindex="-1" role="dialog" aria-labelledby="archiveModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <mat-tab-group dynamicHeight>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon mr-1">archive</mat-icon>
                                Archive
                            </ng-template>
                            <div class="row select-box">
                                <p>Are you sure you want to archive the selected records?</p>
                            </div>
                            <div class="adv-btn">
                                <button type="button" class="reset-btn primary-text" mat-button color="primary" data-dismiss="modal" (click)="archiveApplications(this.selection.selected);close()">Archive</button>
                                <button type="button" mat-raised-button color="primary" data-dismiss="modal" (click)="close()">Cancel</button>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>